<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="card mb-3 d-flex justify-content text-center" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/APLogo.png" class="img-fluid rounded-start" alt="logoAP">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Portfolio Argentina Programa</h5>
              <p class="card-text">Proyecto realizado para la acreditación del curso de Programación Full Stack Jr de Argentina Programa.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 d-flex space between" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/logo_CDG.png" class="img-fluid" alt="logoCoronadasDeGloria">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Coronadas de gloria</h5>
              <p class="card-text">Proyecto de magazine radial de la última tarde (18 a 20hs) que tuvo como objetivo construir sentidos en torno a lo local 
                en la ciudad de La Plata, provincia de Buenos Aires, lo cultural y lo político desde una perspectiva de género.
                Fue transmitido por la radio de la Facultad de periodismo y comunicación social de la UNLP durante el 2019 y el 2020.</p>
            </div>
          </div>
        </div>
      </div>
</div>
